
<div class="col-10">
    
            <form method="post" class="w-50 m-auto" ng-submit="submit()">
                <div class="row justify-content-center">
                   


                        <td><input class="form-control" type="email" name="To" placeholder="To" ng-model="post.To"</td>
                        <td><input class="form-control" type="text" name="Subject" placeholder="Subject" ng-model="post.Subject" </td>
                        <td align="left" style="padding-bottom:10px;"><textarea class="form-control" name="Body" placeholder="Body" rows="3" ></textarea></td>
                        <td><input class="form-control" type="text" name="Password" placeholder="Password" ng-model="post.Password" </td>
                        <input type="submit" name="submit-button"  value="Send">
                        
                </div>
                
              
            </form>


        </div>

       
   
 